*  {
    margin:0;
    padding:0;
}

html, body {height:100%;}

.carousel {
    align-content: center;
}
.titulo {
    color: green;
    font-size: 20px;
}
.geral {
    min-height:100%;
    position:relative;
}

.footer {
    align-items:center;
    position:absolute;
    bottom:0;
    width:100%;
}